.info {
  display: flex;
  align-items: center;

  li {
    margin-right: 2rem;
    display: flex;
    align-items: center;
  }

  i {
    margin-right: 1rem;
    display: inline-block;
  }
}

.social {
  display: flex;
  align-items: center;
  align-self: flex-end;

  i {
    font-size: 2.4rem;
    margin-right: 1rem;
    display: inline-block;
    // color: #1d2d5e;
  }
}
